<p class="question-text">{{this.model.question}}</p>

{{#each this.model.options as |option|}}
  <div class="form-check">
    <input 
      type="checkbox" 
      id={{option}}
      name={{questionName}}
      checked={{contains option answerValue}}
      onchange={{action "changed" option}}
    >
    <label for={{option}}>{{option}}</label>
  </div>
{{/each}}