<fieldset class="rating">
  <legend class="question-text">
    {{this.model.question}}
  </legend>
  {{#if this.model.content}}
    <p class="text-help">{{this.model.content}}</p>
  {{/if}}
  <div class="rating-radiogroup" role="radiogroup" aria-labelledby={{this.model.question}}>
    {{#each options as |option|}}
      <input 
          type="radio" 
          id="rating-{{option}}" 
          name={{model.questionName}}
          checked={{eq answerValue option}} 
          onchange={{action "changed" option}}
          class="rating-radio"
        >
      <label for="rating-{{option}}" class="rating-label">{{option}}</label>
    {{/each}}	
  </div>
</fieldset>