
<div class="questions-wrapper">
  {{#if (eq this.model.type "ranking")}}
  <p>Question: {{this.model.question}}</p>
  <div class="form-group">
    <p>ranking here</p>
  </div>
  {{else if (eq this.model.type "rating")}}
  <p>Question: {{this.model.question}}</p>
  <div class="form-group">
    <p>rating</p>
  </div>

  {{else if (eq this.model.type "single-select")}}

    <p>{{this.model.question}}</p>
    {{#each this.model.options as |option|}}
    <div class="form-group">
      <input type="radio" id={{option}} name={{questionName}} value={{option}}>
      <label for={{option}}>{{option}} </label>
    </div>
    {{/each}}
  {{else if (eq this.model.type "multi-select")}}
  <p>Question: {{this.model.question}}</p>
  <div class="form-group">

  </div>

  {{else if (eq this.model.type "textbox")}}
  <div class="form-group">
    <label for="">{{this.model.question}}</label>
    <input type="text" />
  </div>
  {{else if (eq this.model.type "comment-box")}}
  <div class="form-group">
    <label for="">{{this.model.question}}</label>
    <textarea />
  </div>
  {{/if}}
</div>

<div class="survey-nav">
{{#if prevQuestion}}
    <p>
      {{#link-to "question" prevQuestion}}
        Previous Question
      {{/link-to}}
    </p>
  {{else}}
    <p class="text-disabled">Previous Question</p>
{{/if}}

Question {{questionNumber}} of {{allQuestions.length}}

{{#if nextQuestion}}
  <p>
    {{#link-to "question" nextQuestion}}
      Next Question
    {{/link-to}}
  </p>
  {{else}}
    <p class="text-disabled">Next Question</p>
{{/if}}
</div>