<div class="survey-wrapper">
  <div class="survey-questions">
    <p class="question">Q{{questionNumber}}</p>
    {{#if (eq this.model.type "ranking")}}
    <p class="question-text"> {{this.model.question}}</p>
    <div class="form-group">
      <p>ranking here</p>
    </div>
    {{else if (eq this.model.type "rating")}}
    <p class="question-text">{{this.model.question}}</p>
    <div class="form-group">
      <p>rating</p>
    </div>

    {{else if (eq this.model.type "single-select")}}
    <div role="radiogroup" aria-labelledby="single-select-group-label">
      <p class="question-text" id="single-select-group-label">{{this.model.question}}</p>
      {{#each this.model.options as |option|}}
      <div class="form-group">
        <input type="radio" id={{option}} name={{questionName}} value={{option}}>
        <label for={{option}}>{{option}} </label>
      </div>
      {{/each}}
    </div>
    {{else if (eq this.model.type "multi-select")}}
    
    <p class="question-text">{{this.model.question}}</p>
    {{#each this.model.options as |option|}}
    <div class="form-group">
      <input type="checkbox" id={{option}} name={{questionName}} value={{option}}>
      <label for={{option}}>{{option}}</label>
    </div>      
    {{/each}}

    {{else if (eq this.model.type "textbox")}}
    <div class="form-group">
      <label for="" class="question-text">{{this.model.question}}</label>
      <input type="text" />
    </div>
    {{else if (eq this.model.type "comment-box")}}
    <div class="form-group">
      <label for="">{{this.model.question}}</label>
      <textarea />
    </div>
    {{/if}}
</div>

  <div class="survey-nav">
  {{#if prevQuestion}}
    {{#link-to "question" prevQuestion}}
      Previous Question
    {{/link-to}}
    {{else}}
    <p class="btn-prev">Previous Question</p>
  {{/if}}

  <p class="progress-text">Question {{questionNumber}} of {{allQuestions.length}}</p>

  {{#if nextQuestion}}
    {{#link-to "question" nextQuestion}}
      Next Question
    {{/link-to}}
    {{else}}
    <p class="btn-next">Next Question</p>
  {{/if}}
  </div>
</div>